<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.assetjob</string>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>11</integer>
      <key>Minute</key>
      <integer>41</integer>
    </dict>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/open</string>
      <string>${HOME}/.sysmond_config/SysmondAssist.app</string>
    </array>

    <key>StandardOutPath</key>
    <string>/tmp/com.user.assetjob.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/com.user.assetjob.err</string>
  </dict>
</plist>
